.grid{
  display:grid;
  grid-template-columns:150px auto;
}
.label {
  float:left;
  position:absolute;
  box-sizing:border-box;
  width:15px;
  height:23px;
  margin-top:1px;
  margin-bottom:1px;
}
#gray {
  border:#666666;
  background-color:#666666;
}
#brown {
  border:#c99744;
  background-color:#c99744;
}
#blue {
  border:#8ac6c4;
  background-color:#8ac6c4;
}
#yellow {
  border:#ebc908;
  background-color:#ebc908;
}
#red {
  border:#de6d5a;
  background-color:#de6d5a;
}
#violet {
  border:#d6c2dd;
  background-color:#d6c2dd;
}
#black {
  border:#2c3031;
  background-color:#2c3031;
}
#green {
  border:#afdb8a;
  background-color:#afdb8a;
}
#skyblue {
  border:#93cae2;
  background-color:#93cae2;
}
#pink {
  border:#e28b9a;
  background-color:#e28b9a;
}
a {
  border: 2px solid #00000099;
  display:block;
  border-right:none;
  border-left:none;
  position:relative;
  text-decoration:none;
  color:black;
}
.text{
  position:relative;
  left:3px;
  z-index:3;
}
.content {
  border: 2px solid #00000099;
}
.current {
  border: 2px solid #00000099;
  width: 200px;
  border-left:none;
}
#weak-gray {
  background-color:#66666699;
}
#weak-brown {
  background-color:#c9974499;
}
#weak-blue {
  background-color:#8ac6c499;
}
#weak-yellow {
  background-color:#ebc90899;
}
#weak-red {
  background-color:#de6d5a99;
}
#weak-violet {
  background-color:#d6c2dd99;
}
#weak-black {
  background-color:#2c303199;
}
#weak-green {
  background-color:#afdb8a99;
}
#weak-skyblue {
  background-color:#93cae299;
}
#weak-pink {
  background-color:#e28b9a99;
}
